<h1>Your Nintendog</h1>
<p>Dog Name: <%= @dog.name %> </p>
<p>Dog Breed: <%= @dog.breed %> </p>
<p>Dog Age: <%= @dog.age %> </p>
<p>Dog Employees</p>
<% @dog.employees.each do |employee| %>
  <%= link_to "#{employee.first_name} #{employee.last_name}", employee_path(employee) %>
<% end %>
